accelerate>=0.27.2
bitsandbytes
datasets>=2.13.1
transformers
transformers_stream_generator
peft
trl<0.9.0
scipy
tqdm
fire
nltk
pyserini>=0.21.0
scikit-learn
jsonlines
sentence_transformers
tf-keras
tensorflow
tiktoken
einops
ujson
GitPython
omegaconf
xformers<0.27
git+https://github.com/hiyouga/LLaMA-Factory.git
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
triton==2.3.0
torch==2.3.0
torchvision==0.18.0
kaggle